# Hide secrets:
# .env file with API keys
.env

# Ignore data directory
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Log files
*.log
